{% extends "app/layout.html" %}

  {% block content %}

<div class="login-div">

  <form method="post" class="form">
    {% csrf_token %}

    <h2>SignUp</h2>

    <div class="form-content">

      <div class="form-box">
        <label style="text-align:left; direction:ltr">Username</label>
        <input type="text" name="username" placeholder="Enter Username">
      </div>

      <div class="form-box">
        <label style="text-align:left; direction:ltr">Password</label>
        <input type="password" name="password" placeholder="Enter Password">
      </div>

      <div class="form-box">
        <label style="text-align:left; direction:ltr">Gmail</label>
        <input type="text" name="gmail" placeholder="Enter Gmail">
      </div>

      <div class="form-box">
        <button type="submit" name="submit">Sign Up</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}