{% extends "app/layout.html" %}

  {% block content %}

<div class="login-div">

  <form method="post" class="form">
    {% csrf_token %}

    <h2>Sign-Up</h2>

    <div class="form-content">

      <div class="form-box">
        <label style="text-align:left; direction:ltr">Username</label>
        <input type="text" name="" placeholder="email.com">
      </div>

      <div class="form-box">
        <label style="text-align:left; direction:ltr">Password</label>
        <input type="password" name="" placeholder="**********">
      </div>

      <div class="form-box">
        <label style="text-align:left; direction:ltr">RePassword</label>
        <input type="password" name="" placeholder="**********">
      </div>

      <div class="form-box">
        <input type="submit" name="submit" value="Sign Up">
      </div>
    </div>
  </form>
</div>
{% endblock %}