{% extends "app/layout.html" %}

  {% block content %}

<div class="login-div">

  <form method="post" class="form">
    {% csrf_token %}

    <h2>Login</h2>

    <div class="form-content">

      <div class="form-box">
        <label style="text-align:left; direction:ltr">Username</label>
        <input type="text" name="username" placeholder="Enter Username">
      </div>

      <div class="form-box">
        <label style="text-align:left; direction:ltr">Password</label>
        <input type="password" name="password" placeholder="Enter Password">
      </div>

      <div class="form-box">
        <button type="submit" name="submit">Login</button>
      </div>
    </div>

    <p class="form-forget">Forget your password? <a href="#"> Click this </a> </p>
  </form>
</div>
{% endblock %}